<!DOCTYPE html>
<html>
    <head>
        <title>
            css sprite builder
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        name="viewport">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <link rel="stylesheet" type="text/css" href="bootstrap.css">
        <style>
            form{
                margin-left: 40%;
            }
            .required{
                color:red;
                margin-right:3px;
            }
        </style>
    </head>
    <body>
        <form  method='POST' action='/' enctype='multipart/form-data'>
            <fieldset>
                <legend>
                    css sprite builder
                </legend>
                <div class="control-group">
                    <label class="control-label" for="images[]">
                        <span class="required" title='required'>*</span>images
                    </label>
                    <div class="controls">
                        <input type="file" name='images[]' multiple required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="layout">
                        <span class="required" title='required'>*</span>layout
                    </label>
                    <div class="controls">
                        <select name='layout' required>
                            <option value='diagonal'>
                                对角线排列
                            </option>
                            <option value='horizontal'>
                                水平排列 
                            </option>
                            <option value='vertical'>
                                垂直排列 
                            </option>
                            <option value='packed'>
                                智能(空间最小)排列
                            </option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="filename">
                        file name(default: sprite)
                    </label>
                    <div class="controls">
                        <input  name='filename'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="margin">
                        margin(default: 5)
                    </label>
                    <div class="controls">
                        <input  name='margin' value='5' disabled pattern='\d*'>
                    </div>
                </div>
                 <div class="control-group">
                    <label class="control-label" for="csspath">
                        csspath(default: ../../img/)
                    </label>
                    <div class="controls">
                        <input  name='csspath'>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="csspath">
                        css selector(default: .litb-icon- )
                    </label>
                    <div class="controls">
                        <input  name='selector'>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                         <button type="submit" class="btn">
                            Submit
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>